ul.refills-menu {
  font-weight: normal;
  margin-bottom: 5em;
  margin: -3.3em auto 0 auto;
  padding: 0;
  text-align: center;

  @include media($refills-medium-screen) {
    margin: -6em auto 0 auto;
  }

  @include media($refills-large-screen) {
    margin: -6.7em auto 0 auto;
  }

  .menu-item {
    display: inline;

    a {
      text-decoration: none;
      border-radius: 3px;
      color: darken($refills-hero-background, 20%);
      font-family: "Lusitana", serif;
      font-size: 0.9em;
      padding: 0.5em 0.5em 2em;

      @include media($refills-medium-screen) {
        font-size: 1.1em;
        padding: 0.5em 0.8em 2em;
      }

      @include media($refills-large-screen) {
        font-size: 1.3em;
        padding: 0.5em 1.3em 2em;
      }

      &:hover {
        color: darken($refills-hero-background, 30%);
      }
    }
  }
}

.refills-patterns li.patterns a {
  background: $refills-body-background-color;

  &:hover {
    color: darken($refills-hero-background, 20%);
  }
}

.refills-components li.components a {
  background: $refills-body-background-color;

  &:hover {
    color: darken($refills-hero-background, 20%);
  }
}

.refills-type-systems li.type-systems a {
  background: $refills-body-background-color;

  &:hover {
    color: darken($refills-hero-background, 20%);
  }
}

.refills-unstyled li.unstyled a {
  background: $refills-body-background-color;

  &:hover {
    color: darken($refills-hero-background, 20%);
  }
}

.menu-item.unstyled {
  
}
